body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.device {
  background-color: red;
}

.pod {
  background-color: black;
}

.switch {
  border: 1px solid black;
  background-color: grey;
}

.vapeHighBattery {
  background-color: green !important;
}
.vapeMidBattery {
  background-color: blue !important;
}
.vapeLowBattery {
  background-color: red !important;
}

.light {
  background-color: gainsboro;
}
